@model DnD5E.Models.CharacterModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h2>Character Details</h2>

<ul>
    <li>Name: @Model.Name</li>
    <li>Race: @Model.Race</li>
    <li>Class: @String.Join(", ", Model.Class.ToArray())</li>
    <li>Background: @Model.Background</li>
    <li>Level: @Model.Level</li>
</ul>